<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin page</title>
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"-->
    <!--          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">-->

    <link rel="stylesheet" href="/css/bootstrap.css">

    <!--    Как перенести подключение js в конец body?-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <style>
        body {
            background: #eeeeee;
        }

        .header {
            padding: 0;
            margin-bottom: 0;
        }

        div {
            /*border: 1px solid black;*/
        }

        .left-menu {
            background: white;
            padding: 20px 0 0 0;
            min-height: 93vh;
        }

    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="navbar navbar-light bg-dark col-12">
            <a class="navbar-brand text-light" href="#">Project name</a>
            <a class="navbar-brand text-light" href="/logout">Logout</a>
        </div>
    </div>
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 left-menu">
            <ul class="nav flex-column nav-tabs nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" aria-controls="admin-page" role="tab" data-toggle="tab"
                       href="#admin-page">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-controls="user-page" role="tab" data-toggle="tab"
                       href="#user-page">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10 col-sm-10 col-md-10 col-lg-10">
            <div class="tab-content">
                <div class="tab-pane show active" id="admin-page" role="tabpanel">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                        <h1>Admin panel</h1>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#allUsers" aria-controls="user-panel"
                                   role="tab">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" aria-controls="add-user-panel" role="tab"
                                   href="#newUser">New user</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane show active" id="allUsers" role="tabpanel">
                                <h4>All Users</h4>
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>id</th>
                                        <th>username</th>
                                        <th>password</th>
                                        <th>roles</th>
                                        <th>users actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--    td где проставляется роль юзера, подходит только для концепции когда у юзера одна роль, если у юзера будет несколько ролей - все ломается.-->
                                    <th:block th:each="user : ${usersList}">
                                        <tr>
                                            <td th:text="${user.getId()}"></td>
                                            <td th:text="${user.getName()}"></td>
                                            <td th:text="${user.getPassword()}"></td>
                                            <td th:each="role : ${user.roles}" th:text="${role.getName()}">


                                            </td>
                                            <td>
                                                <!--                                    text-white???-->
                                                <a th:id="editButton+${user.getId()}"
                                                   class="btn btn-primary btn-sm text-white">Edit</a>
                                                <a th:id="showProfile+${user.getId()}"
                                                   class="btn btn-primary btn-sm text-white">Profile</a>
                                                <!--                                    <a th:id="showProfile+${user.getId()}" class="btn btn-primary btn-sm" th:href="@{'/user/view/' + ${user.getId()}}">Profile</a>-->
                                                <a class="btn btn-primary btn-sm"
                                                   th:href="@{'/admin/delete/' + ${user.getId()}}">Delete</a>
                                            </td>
                                            <script type="text/javascript">
                                                //Зачем в Ванином примере еще document.ready делается?
                                                // jQuery(document).ready(function () {
                                                $("#editButton" + [[${user.getId()}]]).click(function () {
                                                    putValues("[[${user.getId()}]]", "[[${user.getName()}]]", "", "", "edit");
                                                    $("#editUserForm").modal('show');
                                                })

                                                $("#showProfile" + [[${user.getId()}]]).click(function () {
                                                    putValues("[[${user.getId()}]]", "[[${user.getName()}]]", "[[${user.getPassword()}]]", "[[${user.getBarcode()}]]", "info");
                                                    $("#showUserForm").modal('show');
                                                })
                                            </script>
                                        </tr>
                                    </th:block>
                                    </tbody>

                                </table>

                            </div>
                            <div class="tab-pane" id="newUser">
                                <h4>Add new users</h4>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-10 col-xs-10">
                                            <form action="#" th:action="@{/add}" method="post" th:object="${user}">
                                                <div class="form-group text-center edit-form">
                                                    <label for="username-input-add">Name</label>
                                                    <input id="username-input-add" class="form-control"
                                                           placeholder="User name"
                                                           type="text" th:field="*{name}" required/>
                                                    <label for="password-input-add">Password</label>
                                                    <input id="password-input-add" class="form-control"
                                                           placeholder="Password"
                                                           type="password" th:field="*{password}" required>
                                                    <label for="role-input-add">Role</label>
                                                    <select id="role-input-add" class="form-control" name="role">
                                                        <option value="1">USER</option>
                                                        <option value="2">ADMIN</option>
                                                    </select>
                                                    <button type="submit"
                                                            class="btn btn-success add-user-button btn-lg">
                                                        Add new user
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane show " id="user-page" role="tabpanel">
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                        <h1>User panel</h1>
                        Hello <span th:text="${currentUser.getName()}"></span>
                    </div>

                </div>


            </div>


        </div>

        <div class="modal fade" id="showUserForm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">User Profile</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <p>Id: <span id="id-info"></span></p>
                        <p>Username: <span id="username-info"></span></p>
                        <p>Password: <span id="password-info"></span></p>
                        <p>Barcode:</p><img id="barcode-info" alt="barcode">
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="editUserForm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit User</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form id="edit-form" action="#" th:action="@{/admin/edit}" method="post" th:object="${user}">
                            <div class="form-group text-center edit-form">
                                <label for="id-input-edit">ID</label>
                                <input id="id-input-edit" class="form-control" disabled="disabled" type="text"
                                       th:field="*{id}" required>
                                <input type="hidden" id="id-input-edit-hidden" th:field="*{id}">

                                <label for="username-input-edit">Name</label>
                                <input id="username-input-edit" class="form-control"
                                       placeholder="User name"
                                       type="text" th:field="*{name}" required/>
                                <label for="password-input-edit">Password</label>
                                <input id="password-input-edit" class="form-control"
                                       placeholder="Password"
                                       type="password" th:field="*{password}" required>
                                <label for="role-input-edit">Role</label>
                                <select id="role-input-edit" class="form-control" name="role">
                                    <option value="1">USER</option>
                                    <option value="2">ADMIN</option>
                                </select>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="edit-submit" class="btn btn-primary">Edit User</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script>
    function putValues(id, name, password, barcode, windowtype) {
        if (windowtype === "info") {
            $("#id-info").text(id);
            $("#username-info").text(name);
            $("#password-info").text(password);
            $("#barcode-info").attr("src", barcode);
        }
        if (windowtype === "edit") {
            $('#id-input-edit').val(id);
            $('#id-input-edit-hidden').val(id);
            $('#username-input-edit').val(name);
            $('#password-input-edit').val(password);
        }
    }

    $(document).ready(function () {
        $("#edit-submit").click(function () {
            $("#edit-form").submit();
        })
    })

</script>
<script src="/js/bootstrap.min.js"></script>
<!--<script src="/js/popper.min.js"></script>-->


</body>
</html>